.button {
  @include flex(flex, row, center, center, nowrap);
  @include text($font-family-a, $font-size-base, $font-weight-m, $color-basic, $text-shadow-s);
  background-color: $color-primary;
  filter: $drop-shadow-s;
  margin: 2rem;
  padding: 0.6rem 1.8rem;
  border-radius: 0.5rem;
  border-style: none;
}

.button:hover,
.button:focus {
  background-color: $color-tertiary;
  color: $color-shadow;
  text-shadow: none;
}