.contact__form {
  @include flex(flex, column, center, center, nowrap);
  outline: $outline2;
  //MQ
  @include media(">=medium") {
    flex-direction: row;
  }
  background: linear-gradient($color-fifth, $color-secondary);
  margin: $model-xl $model-m;
  filter: $drop-shadow-m;
  border: 0.2rem solid rgba($color: $color-quinary, $alpha: 0.8);
  border-radius: $border-radius-l;

  .side--A {
    @include flex(flex, column, center, center, nowrap);
    //MQ
    @include media(">=medium") {
      width: 35vw;
    }
  }

  .side--B {
    @include flex(flex, column, center, center, nowrap);
    //MQ
    @include media(">=medium") {
      width: 35vw;
    }
  }

  .form__detail {
    @include flex(flex, column, center, flex-start, nowrap);
    width: 70vw;
    margin: $model-m;

    .detail__cont {
      @include flex(flex, row, flex-start, center, nowrap);
      width: 70vw;

      .detail__icon {
        @include size($size-alpha-s, $size-auto);
        filter: $drop-shadow-s;
        opacity: 0.7;
        fill: #C4E8FE;
      }

      .detail__title {
        @include flex(flex, column, space-between, flex-start, nowrap);
        @include text($font-family-a, $font-size-base, $font-weight-m, $color-basic, $text-shadow-l);
        width: $size-beta-xxl;
        margin: $model-m;
      }
    }

    .input__cont {

      .input__text {
        @include text($font-family-a, $font-size-base, $font-weight-m, $color-basic, $text-shadow-s);
        width: 70vw;
        padding: $model-s;
        background-color:rgba(0, 0, 0, 0.3);
        border: none;
        border-bottom: 1px solid rgba($color: $color-quinary, $alpha: 0.8);
        border-radius: $border-radius-s;
    
        &::placeholder {
          color: $color-quinary;
          opacity: 0.5;
        }
      }

      .input__textarea {
        @include text($font-family-a, $font-size-base, $font-weight-m, $color-basic, $text-shadow-s);
        width: 70vw;
        padding: $model-s;
        background-color:rgba(0, 0, 0, 0.3);
        border: none;
        border-bottom: 1px solid rgba($color: $color-quinary, $alpha: 0.8);
        border-radius: $border-radius-s;
      }
    }

    .checkbox__cont {
      @include flex(flex, row, space-around, flex-start, nowrap);
      width: 100%;

      .checkbox__label {
        @include text($font-family-a, $font-size-base, $font-weight-m, $color-quinary, $text-shadow-s);

        &:hover {
          color: $color-tertiary;
          cursor: pointer;
        }
    
        .checkbox__input {
          margin: 0 $model-s;
        }
      }
    }
  }
}