.contact__form {
  @include flex(flex, column, center, center, nowrap);
  background: linear-gradient($color-fifth, $color-secondary);
  margin: $margin-xl $margin-m;
  filter: $drop-shadow-m;

  border: 0.2rem solid rgba($color: $color-quinary, $alpha: 0.8);
  border-radius: $border-radius-l;

  .form__name {
    @include flex(flex, column, space-between, flex-start, nowrap);
    width: $img-size-xxl;
    margin: $margin-l;
  }

  .form__email {
    @include flex(flex, column, space-between, flex-start, nowrap);
    width: $img-size-xxl;
    margin: $margin-l;
  }

  .form__message {
    @include flex(flex, column, space-between, flex-start, nowrap);
    width: $img-size-xxl;
    margin: $margin-l;

    textarea {
      width: $img-size-xxl;
      resize: none;
    }
  }

  .form__checkbox {
    @include flex(flex, column, space-between, flex-start, nowrap);
    width: $img-size-xxl;
    margin: $margin-l;

    .checkbox {
      @include flex(flex, row, space-between, flex-start, nowrap);
      width: 100%;

      .checkbox__label {
        @include text($font-family-a, $font-size-base, $font-weight-m, $color-quinary, $text-shadow-s);

        &:hover {
          color: $color-tertiary;
          cursor: pointer;
        }
    
        .checkbox__input {
          margin: 0 $margin-s;
        }
      }
    }
  }

  .submit-button {
    @include text($font-family-a, $font-size-base, $font-weight-m, $color-tertiary, $text-shadow-s);
    margin: $margin-m;
    padding: $padding-xs, $padding-m;
  }

  .title {
    @include flex(flex, row, center, center, nowrap);
    @include text($font-family-a, $font-size-base, $font-weight-m, $color-basic, $text-shadow-l);
    margin: $margin-l 0;
  }

  .title__icon {
    @include size($size-s, $size-auto);
    margin-right: $margin-m;
    filter: $drop-shadow-s;
    opacity: 0.7;
    fill: #C4E8FE;
  }

  .input { // name, email, message
    @include text($font-family-a, $font-size-base, $font-weight-m, $color-basic, $text-shadow-s);
    width: $img-size-xxl;
    padding: $padding-s;
    background-color:rgba(0, 0, 0, 0.3);
    border: none;
    border-bottom: 1px solid rgba($color: $color-quinary, $alpha: 0.8);
    border-radius: $border-radius-s;

    &::placeholder {
      color: $color-quinary;
      opacity: 0.5;
    }
  }
}