.ham {
  @include flex(flex, column, flex-start, center, nowrap);
  @include size(100vw, 100vh);
  background: linear-gradient($color-fifth, $color-secondary);
  z-index: 100;

  .ham-close-cont {
    @include flex(flex, row, flex-end, center, nowrap);
    @include size(100vw, 10vh);

    .close-img {
      @include size($size-small, $size-auto);
      @include margin($margin-medium);
      fill: $color-quinary;
      filter: $drop-shadow-medium;

      &:hover {
        @include linkhover;
      }
    }
  }

  .ham-links-cont {
    @include flex(flex, column, center, center, nowrap);
    @include size($size-auto, 90vh);

    .ham-links {
      @include flex(flex, column, center, flex-start, nowrap);

      .links-cont {
        @include flex(flex, row, center, center, nowrap);
        @include margin($margin-xsmall, xy);

        .links-num {
          @include flex(flex, column, center, center, nowrap);
          @include text($font-family1, $font-small, $font-weight-slim, $color-basic, $text-shadow-fat);
          @include margin($margin-medium, x);
        }

        .links-title {
          @include flex(flex, column, center, center, nowrap);
          @include text($font-family2, $font-xxlarge, $font-weight-slim, $color-quinary, $text-shadow-fat);
          @include size($size-auto, 6.8rem);

          &:hover {
            @include linkhover;
          }
        }
      }
    }

    .ham-social {
      @include flex(flex, row, center, center, nowrap);
      @include size(100vw, $size-auto);

      .social-cont {
        @include margin($margin-large);

        .social-img {
          @include size($size-medium, $size-auto);
          opacity: 0.7;
          fill: $color-quinary;
          filter: $drop-shadow-slim;

          &:hover {
            @include linkhover;
            opacity: 1;
          }
        }
      }
    }
  }
}

.fix {
  position: fixed;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}