.ham {
  @include flex(flex, column, flex-start, center, nowrap);
  @include size(100vw, 100vh);
  background: linear-gradient($color-fifth, $color-secondary);
  z-index: $z-index-first;

  &__header {
    @include flex(flex, row, flex-end, center, nowrap);
    @include size(100vw, 12vh);
    // outline: $outlinedone;
    //MQ
    @include media(">=small") {
      @include size(100vw, 10vh);
    }
    @include media(">=medium") {
      @include size(100vw, 12vh);
    }
    @include media("height<small") {
      @include size(100vw, 5rem);
    }

    .close__img {
      width: $size-alpha-s;
      margin: 0 $model-m;
      fill: $color-quinary;
      filter: $drop-shadow-m;
      //MQ
      @include media(">=small") {
        width: $size-alpha-m;
      }
      @include media(">=xtreme") {
        width: $size-alpha-l;
      }

      &:hover {
        @include linkhover;
      }
    }
  }

  &__body {
    @include flex(flex, column, space-evenly, center, nowrap);
    height: 88vh;
    @include media("height<small") {
      height: calc(100vh - 5rem);
    }

    .links {
      @include flex(flex, column, center, flex-start, wrap);
      // outline: $outlinedone;
      //MQ
      @include media("height<small") {
        flex-direction: row;
      }

      .links__title {
        @include flex(flex, column, center, center, nowrap);
        @include text($font-family-b, $font-size-l, $font-weight-s, $color-quinary, $text-shadow-l);
        margin: $model-s;
        //MQ
        @include media(">=small") {
          margin: $model-m;
          font-size: $font-size-xl;
        }
        @include media("height<small") {
          font-size: $font-size-m;
          flex-direction: row;
        }

        &:hover {
          @include linkhover;
        }
      }
    }

    .social {
      @include flex(flex, row, center, center, nowrap);
      // outline: $outlinedone;
      //MQ
      @include media("height<small") {
        @include size(100vw, $size-auto);
        margin: $model-l;
      }

      &__item {
        margin: $model-l;
        //MQ
        @include media(">=small") {
          margin: 0 $model-l;
        }

        .social__img {
          width: $size-alpha-m;
          height: auto;
          opacity: 0.7;
          fill: $color-quinary;
          filter: $drop-shadow-s;
          //MQ
          @include media(">=small") {
            width: $size-alpha-l;
          }
          @include media("height<small") {
            width: $size-alpha-m;
          }

          &:hover {
            @include linkhover;
            opacity: 1;
          }
        }
      }
    }
  }
}

.ham--fix {
  position: fixed;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}