.ham {
  @include flex(flex, column, flex-start, center, nowrap);
  width: 100vw;
  height: 100vh;
  background: linear-gradient($color-fifth, $color-secondary);

  .ham-close-cont {
    @include flex(flex, row, flex-end, center, nowrap);
    width: 100vw;
    height: 10vh;

    .close-img {
      width: $img-size-small;
      margin: 1rem; // ez löki beljebb az ikonokat
      fill: #C4E8FE;
      filter: $drop-shadow-medium;

      &:hover {
        color: $color-tertiary;
        cursor: pointer;
        fill: #FFBD33;
      }
    }
  }

  .ham-links-cont {
    @include flex(flex, column, center, center, nowrap); // resp: row
    height: 90vh;

    .ham-links {
      @include flex(flex, column, center, flex-start, nowrap);

      .links-cont {
        @include flex(flex, row, center, center, nowrap);

        .links-num {
          @include flex(flex, column, center, center, nowrap);
          @include text($font-family1, $font-small, $color-basic, $text-shadow-fat);
          margin: 1rem 1rem 1rem 0; // ez ad margót a számoknak.
        }

        .links-title {
          @include flex(flex, column, center, center, nowrap);
          @include text($font-family2, $font-xxlarge, $color-quinary, $text-shadow-fat); // resp: large
          font-weight: $font-weight-slim;
          height: 6.8rem;

          &:hover {
            color: $color-tertiary;
            cursor: pointer;
          }
        }
      }
    }

    .ham-social {
      @include flex(flex, row, center, center, nowrap);

      .social-cont {
        margin: 2rem;

        .social-img {
          width: $img-size-large;
          height: auto;
          opacity: 0.7;
          fill: #C4E8FE;
          filter: $drop-shadow-slim;

          &:hover {
            color: $color-tertiary;
            cursor: pointer;
            opacity: 1;
            fill: #FFBD33;
          }
        }
      }
    }
  }
}

.fix {
  position: fixed;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}