.paperplane__img {
  width: $size-beta-l;
  z-index: 100;
  //MQ
  @include media(">700px") {
    width: $size-beta-xl;
  }
  @include media(">=1600px") {
    width: $size-beta-xxl;
  }
  @include media("height>1192px") {
    width: $size-beta-xxl;
  }
  @include media("height>1600px") {
    width: $size-beta-xtreme;
  }
  @include media("height<578px") {
    margin: $model-l;
  }
}

.paperplane--fly {
  animation-iteration-count: infinite;
  position: relative;
  animation: paperplane 5s linear 0s infinite normal;
  z-index: 10;
}

@keyframes paperplane {
  0% {transform: translateY(0) rotateX(0) rotateZ(0deg);}
  25% {transform: translateY(-2rem) rotateX(35deg) rotateZ(-5deg);}
  50% {transform: rotateX(0) translateY(0) rotateZ(0deg);}
  75% {transform: rotateX(-30deg) translateY(2rem) rotateZ(5deg);}
  100% {transform: rotateX(0) translateY(0) rotateZ(0deg);}
}