.about {
  @include d-flex(column, flex-start, center, nowrap);
  outline: $outline2;

  &__info {
    @include flex(flex, column, center, center, nowrap);
    margin: $model-xl $model-s;
    outline: $outline1;

    .info__title {
      @include text($font-family-b, $font-size-l, $font-weight-s, $color-quinary, $text-shadow-l);
      margin: 0 $model-xl;
      text-align: center;
      //MQ
      @include media(">=medium") {
        font-size: $font-size-xl;
      }
    }

    .info__text {
      @include text($font-family-a, $font-size-s, $font-weight-m, $color-basic, $text-shadow-m);
      margin: $model-m $model-s;
      //MQ
      @include media(">=medium") {
        font-size: $font-size-sm;
      }
    }

    .color--yellow {
      color: $color-tertiary;
    }
  }

  &__details {
    @include flex(flex, column, center, center, nowrap);
    margin: $model-xl $model-s;
    outline: $outline1;
    // MQ
    @include media(">=medium") {
      flex-direction: row;
      align-items: flex-start;
    }

    .details {
      @include flex(flex, column, center, center, nowrap);
      width: 80vw;
      text-align: center;
      margin: $model-l 0;
      // MQ
      @include media(">=medium") {
        width: 30vw;
      }

      &__title {
        @include text($font-family-b, $font-size-m, $font-weight-s, $color-tertiary, $text-shadow-l);
        margin: $model-m 0 $model-s 0;
        // MQ
        @include media(">=medium") {
          font-size: $font-size-l;
        }
      }

      &__text {
        @include text($font-family-a, $font-size-s, $font-weight-m, $color-basic, $text-shadow-m);
        margin: $model-s 0 $model-m 0;
        // MQ
        @include media(">=large") {
          font-size: $font-size-sm;
        }
      }
    }

    .profile {
      @include flex(flex, row, center, center, nowrap);

      &__img {
        width: $size-beta-l;
        margin: $model-l $model-xl;
        // MQ
        @include media(">large") {
          margin: $model-l $model-xxl;
        }
      }
    }
  }

  &__skills {
    @include flex(flex, column, center, center, nowrap);
    margin: $model-xl $model-s;
    outline: $outline1;

    .skills {
      @include flex(flex, row, center, center, nowrap);

      &__title {
        @include text($font-family-b, $font-size-sm, $font-weight-s, $color-quinary, $text-shadow-l);
        text-align: center;
        margin: $model-m 0 $model-s 0;
        //MQ
        @include media(">=medium") {
          font-size: $font-size-m;
        }
      }

      .color--yellow {
        color: $color-tertiary;
      }
    }

    .workin {
      @include flex(flex, row, center, center, nowrap);
      text-align: center;
      //MQ
      @include media(">=medium") {
        width: 50vw;
      }

      &__text {
        @include text($font-family-a, $font-size-s, $font-weight-m, $color-basic, $text-shadow-s);
        width: 80vw;
        margin: $model-s 0 $model-m 0;
        // MQ
        @include media(">=large") {
          font-size: $font-size-sm;
        }
      }
    }

    .elements {
      @include flex(flex, row, center, center, wrap);
      margin: $model-xl;

      &__icon {
        width: $size-alpha-l;
        margin: $model-m;
        // MQ
        @include media(">=medium") {
          margin: $model-l;
        }
      }
    }
  }
}