.about {
  @include d-flex(column, flex-start, center, nowrap);

  &__info {
    @include flex(flex, column, center, center, nowrap);

    .info {
      @include flex(flex, row, center, center, nowrap);
      text-align: center;

      &__title {
        @include text($font-family-b, $font-size-xl, $font-weight-s, $color-quinary, $text-shadow-l);
        margin: $margin-xl, $margin-l;
        text-align: center;
      }

      .color--yellow {
        color: $color-tertiary;
      }
    }

    .details {
      @include flex(flex, row, center, flex-start, nowrap);

      &__item {
        @include flex(flex, column, center, center, nowrap);
        width: 45vw;
        text-align: center;

        &__title {
          @include text($font-family-b, $font-size-m, $font-weight-s, $color-tertiary, $text-shadow-m);
          margin: $margin-m, 0 $margin-s, 0;
        }

        &__text {
          @include text($font-family-a, $font-size-xs, $font-weight-m, $color-basic, $text-shadow-m);
          margin: $margin-s, 0 $margin-m, 0;
        }
      }
    }

    .profile {
      @include flex(flex, row, center, center, nowrap);

      &__img {
        width: $img-size-l;
        margin: $margin-l;
      }
    }
  }

  .about__skills {
    @include flex(flex, column, center, center, nowrap);

    .skills {
      @include flex(flex, row, center, center, nowrap);

      &__title {
        @include text($font-family-b, $font-size-m, $font-weight-s, $color-quinary, $text-shadow-l);
        margin: $margin-l;
      }

      .color--yellow {
        color: $color-tertiary;
      }
    }

    .workin {
      @include flex(flex, row, center, center, nowrap);
      text-align: center;

      &__text {
        @include text($font-family-a, $font-size-xs, $font-weight-m, $color-basic, $text-shadow-s);
        margin: $margin-xs, $margin-m;
      }
    }

    .elements {
      @include flex(flex, row, center, center, wrap);

      &__icon {
        width: $size-l;
        margin: $margin-m;
      }
    }
  }
}