.about {
  @include d-flex(column, flex-start, center, nowrap);

  .about-info-cont {
    @include flex(flex, column, center, center, nowrap);

    .about-info {
      @include flex(flex, row, center, center, nowrap);
      text-align: center;

      .info-title {
        @include text($font-family2, $font-xlarge, $font-weight-slim, $color-quinary, $text-shadow-fat);
        text-align: center;
        margin: 3rem 2rem 2rem 2rem; // fontos! minden címhez kell alkalmazni
      }

      .yellow {
        color: $color-tertiary; // megoldást találni errre az osztályra. html-ben is.
      }
    }

    .about-details {
      @include flex(flex, row, center, flex-start, nowrap);

      .details-coderdesigner {
        @include flex(flex, column, center, center, nowrap);
        text-align: center;
        width: 45vw;

        .details-title {
          @include text($font-family2, $font-medium, $font-weight-slim, $color-tertiary, $text-shadow-medium);
          margin: 1rem 0 0.5rem 0;
        }

        .details-text {
          @include text($font-family1, $font-xsmall, $font-weight-medium, $color-basic, $text-shadow-medium);
          margin: 0.5 0 1rem 0;
        }
      }
      // .details-coderdesigner{}...
    }
    .about-profile {

      .profile-img {
        width: 10rem;
        margin: 2rem;
      }
    }
  }

  .about-skills-cont {
    @include flex(flex, column, center, center, nowrap);

    .about-skills {
      @include flex(flex, row, center, center, nowrap);

      .skills-title {
        @include text($font-family2, $font-medium, $font-weight-slim, $color-quinary, $text-shadow-fat);
        margin: 2rem;
      }

      .yellow {
        color: $color-tertiary; // megoldást találni errre az osztályra. html-ben is.
      }
    }

    .about-workin {
      @include flex(flex, row, center, center, nowrap);
      text-align: center;

      .workin-text {
        @include text($font-family1, $font-xsmall, $font-weight-medium, $color-basic, $text-shadow-slim);
        margin: 0.25rem 1rem 0.25rem 1rem; // ez ad margót a contenteknek.
        margin: 1rem;
      }
    }

    .about-elements {
      @include flex(flex, row, center, center, wrap);

      .elements-icon {
        width: 3rem;
        margin: 1rem;
      }
    }
  }
}