.contact {
  @include d-flex(column, flex-start, center, nowrap);

  &__info {
    @include flex(flex, column, center, center, nowrap);

    .info {
      @include flex(flex, column, center, center, nowrap);
      margin: $margin-xl;
      text-align: center;

      &__cont1 {
        @include flex(flex, row, center, center, nowrap);

        .info__title {
          @include text($font-family-b, $font-size-m, $font-weight-s, $color-quinary, $text-shadow-l);
          text-align: center;
          margin: 0 $margin-m;
        }

        .color--yellow {
          color: $color-tertiary;
        }
      }

      &__cont2 {
        text-align: center;
      }

      .info__text {
        @include text($font-family-a, $font-size-s, $font-weight-m, $color-basic, $text-shadow-m);
      }
    }
  }









  






  








  .contact__social {
    @include flex(flex, row, center, center, nowrap);
  
    .contact-social {
      @include flex(flex, row, center, center, nowrap);
      margin: 2rem 1.5rem;
  
      &:hover {
        color: $color-tertiary;
        cursor: pointer;
        opacity: 1;
        fill: $color-tertiary;
  
        .social-img {
          fill: $color-tertiary;
          opacity: 1;
        }

        .social-text {
          opacity: 1;
          color: $color-tertiary;
        }
      }

      .social-img {
        width: $size-s;
        height: auto;
        margin-right: 0.5rem;
        opacity: 0.7;
        fill: $color-quinary;
        filter: $drop-shadow-s;
      }

      .social-text {
        @include text($font-family-a, $font-size-base, $font-weight-m, $color-basic, $text-shadow-s);
        opacity: 0.7;
      } 
    }
  }
}  