.contact {
  // @include flex(flex, column, center, center, nowrap);
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  outline: $outline1;
  background-color: lightpink;

  .contact-title {
    outline: $outline2;
  }

  .contact-text {
    outline: $outline2;
  }

  .contact-links {
    @include flex(flex, column, center, flex-start, nowrap);
    outline: $outline2;
  }
}