.contact {
  @include flex(flex, column, center, center, nowrap);
  outline: $outline1;

  .contact-title {
    outline: $outline2;
  }

  .contact-text {
    outline: $outline2;
  }

  .contact-links {
    @include flex(flex, column, center, flex-start, nowrap);
    outline: $outline2;
  }
}