.header {
  @include d-flex(row, space-between, center, nowrap);
  @include size(100vw, 10vh);

  &__title {
    @include text($font-family-b, $font-size-m, $font-weight-s, $color-tertiary, $text-shadow-l);
    margin: $margin-s;
    cursor: pointer;
  }

  .nav {
    @include flex(flex, row, space-between, center, nowrap);

    &__link {
      width: $size-s;
      margin: $margin-m;
      fill: #C4E8FE;
      filter: $drop-shadow-m;

      &:hover {
        @include linkhover;
      }
    }
  }
}