.header {
  // @include flex(flex, row, space-between, center, nowrap);
  // display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  outline: $outline1;

  .name {
    text-align: center;
    outline: $outline2;
  }

  .nav {
    @include flex(flex, row, space-between, center, nowrap);
    outline: $outline2;

    .nav-icon {
      width: 1.5rem;
    }
  }
}