.logo {
  // @include flex(flex, row, center, center, nowrap);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  outline: $outline1;
  background-color: gray;
}