.main {
  @include d-flex(column, flex-start, center, nowrap);
  @include size($size-auto, 80vh);

  .paperplane-img {
    @include size(10rem, $size-auto);
    @include margin($margin-xlarge, xy);
  }

  .main-content-cont {
    @include flex(flex, column, center, center, nowrap);

    .main-content {
      @include flex(flex, row, center, center, nowrap);
      text-align: center;

      .content-title {
        @include text($font-family2, $font-large, $font-weight-slim, $color-quinary, $text-shadow-fat);

        &:hover {
          @include linkhover2;
        }
      }

      .content-text {
        @include text($font-family1, $font-xsmall, $font-weight-medium, $color-basic, $text-shadow-slim);
        @include margin($margin-xsmall, y);
        @include margin($margin-medium, x);
      }

      .yellow {
        color: $color-tertiary;
      }
    }

    .row {
      flex-direction: column;
    }
  }
}