.works {
  @include d-flex(column, flex-start, center, nowrap);
  outline: $outline2;

  &__info {
    @include flex(flex, column, center, center, nowrap);
    margin: $margin-xl $margin-s;
    outline: $outline1;

    .info__title {
      @include text($font-family-b, $font-size-m, $font-weight-s, $color-quinary, $text-shadow-l);
      margin: 0 $margin-xl;
      text-align: center;
      //MQ
      @include media(">=medium") {
        font-size: $font-size-l;
      }
    }

    .info__text {
      @include text($font-family-a, $font-size-s, $font-weight-m, $color-basic, $text-shadow-m);
      margin: $margin-m $margin-s;
      //MQ
      @include media(">=medium") {
        font-size: $font-size-sm;
      }
    }

    .color--yellow {
      color: $color-tertiary;
    }
  }

  &__projects {
    @include flex(flex, column, center, stretch, wrap);
    margin: $margin-xl $margin-s;
    outline: $outline1;
    //MQ
    @include media(">=large") {
      @include flex(flex, row, center, stretch, nowrap);
    }

    .projects {
      background: linear-gradient($color-fifth, $color-secondary);
      margin: $margin-xl $margin-l;
      width: $img-size-xxl;
      @include border($border-m, xy, $color-quinary);
      border-radius: $border-radius-s;
      filter: $drop-shadow-m;
      //MQ
      @include media(">=medium") {
        width: 28rem;
      }
      @include media(">=large") {
        width: 16rem;
      }
      @include media(">=1200px") {
        width: 20rem;
      }

      &:hover {
        @include border($border-m, xy, $color-tertiary);
        scale: 1.02;
      }

      .projects__thumbnails {
        @include border($border-m, b, $color-quinary);

        &:hover {
          @include border($border-m, b, $color-tertiary);
        }
      }

      .projects__title {
        @include text($font-family-a, $font-size-s, $font-weight-m, $color-basic, $text-shadow-l);
        margin: $margin-l;
        text-align: center;
        //MQ
        @include media(">=medium") {
          font-size: $font-size-sm;
        }
      }

      .projects__text {
        @include text($font-family-a, $font-size-base, $font-weight-m, $color-basic, $text-shadow-s);
        padding: $padding-s $padding-l $padding-l $padding-l;
        //MQ
        @include media(">=medium") {
          font-size: $font-size-s;
        }
      }
    }
  }
}