.works {
  // @include flex(flex, column, center, center, nowrap);
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  outline: $outline1;
  background-color: lightgreen;

  .works-title {
    outline: $outline2;
  }

  .works-text {
    outline: $outline2;
  }

  .works-projects {
    outline: $outline2;
  }
}