// set1
$color-primary: #2ECBE9; // summer sky
$color-secondary: #FFE45C; // mustard
$color-tertiary: #00468B; // limed spruce
$color-quaternary: #128FC8; // pacific blue
$color-quinary: #8ECAE6; // lightblue

// set2
// $color-primary: #249BDF; // curious blue
// $color-secondary: #E3CD80; // putty
// $color-tertiary: #375253; // limed spruce
// $color-quaternary: #8CD4F8; // malibu

$color-shadow: darkslategrey;