// set-light:
$color-basic: whitesmoke;
$color-shadow: darkslategrey;

$color-primary: #128FC8; // pacific blue (backgr.upper)
$color-secondary: #00468B; // smalt (backgr.lower)
$color-tertiary: #FFBD33; // yellow (links)
$color-quinary: #C4E8FE; // lightblue (links unchecked)
$color-fifth: #219EBC; // türkis
$color-sixth: #166d82 // türkis (darker)