$lexiamono-font-path: "../assets/fonts";
@font-face {
  src: url(#{$lexiamono-font-path}/lexiamono-light.ttf);
  font-family: 'font1';
}

$adventure-font-path: "../assets/fonts";
@font-face {
  src: url(#{$adventure-font-path}/adventure.otf);
  font-family: 'font4';
}