// FLEXBOX
@mixin flex($display, $flex-direction, $justify-content, $align-items, $flex-wrap) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

// FLEXBOX (without display)
@mixin d-flex($flex-direction, $justify-content, $align-items, $flex-wrap) {
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

// WIDTH/HEIGHT
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

// TEXT
@mixin text($font-family, $font-size-size, $font-weight, $color, $text-shadow) {
    font-family: $font-family;
    font-size: $font-size-size;
    font-weight: $font-weight;
    color: $color;
    text-shadow: $text-shadow;
}

// LINK HOVER T1
@mixin linkhover {
    cursor: $cursor-pointer;
    color: $color-tertiary;
    fill: $color-tertiary;
}

// LINK HOVER T2
@mixin linkhover2 {
    cursor: $cursor-pointer;
    color: $color-tertiary;
    scale: 1.1;
}

// MARGIN - @include margin($margin-m, 'xy');
@mixin margin($size, $directions: "xy") {
    @if $directions == "xy" {
        margin: $size;
    } @else if $directions == "x" {
        margin-left: $size;
        margin-right: $size;
    } @else if $directions == "y" {
        margin-top: $size;
        margin-bottom: $size;
    }   @else if $directions == "b" {
        margin-bottom: $size;
    }   @else if $directions == "t" {
        margin-top: $size;
    }   @else if $directions == "l" {
        margin-left: $size;
    }   @else if $directions == "r" {
        margin-right: $size;
    }
}

// PADDING - @include padding($padding-m, 'xy');
@mixin padding($size, $directions: "xy") {
    @if $directions == "xy" {
        padding: $size;
    } @else if $directions == "x" {
        padding-left: $size;
        padding-right: $size;
    } @else if $directions == "y" {
        padding-top: $size;
        padding-bottom: $size;
    } @else if $directions == "b" {
        padding-bottom: $size;
    } @else if $directions == "t" {
        padding-top: $size;
    } 
}

// BORDER - @include border($..., 'xy', $color-shadow);
@mixin border($size, $directions: "xy", $border-color) {
    @if $directions == "xy" {
        border: $size;
    } @else if $directions == "x" {
        border-left: $size;
        border-right: $size;
    } @else if $directions == "y" {
        border-top: $size;
        border-bottom: $size;
    } @else if $directions == "b" {
        border-bottom: $size;
    } @else if $directions == "t" {
        border-top: $size;
    }
        border-color: $border-color;
}