// OUTLINES
$outline1: 2px solid darkslategrey;
$outline2: 2px solid #EF8C01;
$outline3: 2px solid #5AC4F6;
$outline4: 2px solid #F6CE46;
$outline5: 2px solid #EB539F;

// MARGIN
$margin-xsmall: 0.2rem;
$margin-small: 0.5rem;
$margin-medium: 1rem;
$margin-large: 2rem;
$margin-xlarge: 3rem;
$margin-xxlarge: 5rem;

// PADDING
$padding-xsmall: 0.2rem;
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 2rem;
$padding-xlarge: 3rem;
$padding-xxlarge: 5rem;

// BORDER
$border-small: 0.1rem solid lightgrey;
$border-medium: 0.2rem solid lightgrey;
$border-large: 0.3rem solid lightgrey;
$border-xlarge: 0.5rem solid lightgrey;
$border-xxlarge: 0.7rem solid lightgrey;

// BOX-SHADOW
$box-shadow-slim: 0.1rem 0.1rem 0.1rem darkslategrey;
$box-shadow-medium: 0.2rem 0.2rem 0.2rem darkslategrey;
$box-shadow-fat: 0.5rem 0.5rem 0.5rem darkslategrey;
$box-shadow-slim-light: 0.1rem 0.1rem 0.1rem white;
$box-shadow-medium-light: 0.2rem 0.2rem 0.2rem white;
$box-shadow-fat-light: 0.5rem 0.5rem 0.5rem white;

// IMG SIZE
$img-size-auto: auto;
$img-size-xsmall: 2rem;
$img-size-small: 4rem;
$img-size-medium: 4.5rem;
$img-size-large: 7rem;
$img-size-xlarge: 10rem;
$img-size-xxlarge: 12rem;

// FONT-FAMILIES
$font-family1: 'font1';
$font-family2: 'font2';
$font-family3: 'font3';

// FONT-SIZES
$font-xsmall: 1rem;
$font-small: 1.2rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-xlarge: 2.5rem;

// FONT-WEIGHT
$font-weight-slim: 100;
$font-weight-medium: 500;
$font-weight-fat: 900;

// TEXT-SHADOW
$text-shadow-slim: 0.05rem 0.05rem darkslategrey;
$text-shadow-medium: 0.07rem 0.07rem darkslategrey;
$text-shadow-fat: 0.1rem 0.15rem darkslategrey;
$text-shadow-slim-light: 0.1rem 0.15rem white;
$text-shadow-medium-light: 0.07rem 0.07rem white;
$text-shadow-fat-light: 0.1rem 0.15rem white;

// LETTER-SPACING
$letter-spacing-small: 0.1rem;
$letter-spacing-medium: 0.2rem;
$letter-spacing-large: 0.3rem;
$letter-spacing-xlarge: 0.5rem;