/* --- DECORATION --- */

// OUTLINE
$outline1: 2px solid lightgreen;
$outline2: 2px solid orange;
$outline3: 2px solid blue;
$outline4: 2px solid red;
$outlinedone: 2px solid lightgrey;

// BORDER
$border-s: 0.1rem solid lightgrey;
$border-m: 0.2rem solid lightgrey;
$border-l: 0.3rem solid lightgrey;

// BORDER-RADIUS
$border-radius-s: 0.2rem;
$border-radius-m: 0.4rem;
$border-radius-l: 0.6rem;
$border-radius-xl: 1rem;

/* --- FONTS --- */

// FONT-SIZE
$font-size-footer: 0.7rem;
$font-size-base: 1rem;
$font-size-xs: 1.2rem;
$font-size-s: 1.4rem;
$font-size-sm: 1.8rem;
$font-size-m: 3rem;
$font-size-l: 4rem;
$font-size-xl: 5rem;
$font-size-xxl: 6rem;
$font-size-xxxl: 8rem;

// FONT-FAMILY
$font-family-a: 'font1';
$font-family-b: 'font4';
$font-family-c: 'font2';

// FONT-WEIGHT
$font-weight-s: 100;
$font-weight-m: 600;
$font-weight-l: 900;

// LETTER-SPACING
$letter-spacing-s: 0.1rem;
$letter-spacing-m: 0.2rem;
$letter-spacing-l: 0.3rem;

// LINE-HEIGHT
$line-height-s: 1.2;
$line-height-m: 1.4;
$line-height-l: 1.6;

/* --- SHADOW--- */

// TEXT-SHADOW
$text-shadow-s: 0.05rem 0.05rem $color-shadow;
$text-shadow-m: 0.07rem 0.07rem $color-shadow;
$text-shadow-l: 0.1rem 0.15rem $color-shadow;
$text-shadow-none: none;

// DROP-SHADOW
$drop-shadow-s: drop-shadow(0.10rem 0.10rem 0.03rem $color-shadow);
$drop-shadow-m: drop-shadow(0.15rem 0.15rem 0.05rem $color-shadow);
$drop-shadow-l: drop-shadow(0.20rem 0.20rem 0.07rem $color-shadow);

/* --- BOX MODEL --- */

// SIZE (alpha)
$size-alpha-xs: 1.2rem;
$size-alpha-s: 1.4rem;
$size-alpha-sm: 1.8rem;
$size-alpha-m: 2rem;
$size-alpha-l: 3rem;
$size-alpha-xl: 5rem;

// SIZE (beta)
$size-beta-s: 5rem;
$size-beta-sm: 6.5rem;
$size-beta-m: 8rem;
$size-beta-l: 10rem;
$size-beta-xl: 12rem;
$size-beta-xxl: 15rem;
$size-beta-xtreme: 18rem;

$size-auto: auto;

// MARGIN & PADDING
$model-xs: 0.3rem;
$model-s: 0.5rem;
$model-sm: 0.75rem;
$model-m: 1rem;
$model-l: 2rem;
$model-xl: 3rem;
$model-xxl: 5rem;
$model-xtreme: 10rem;

// Z-INDEX
$z-index-first: 100;
$z-index-second: 200;
$z-index-third: 300;

// CURSOR
$cursor-pointer: pointer;