@font-face {
  src: url(../assets/fonts/lexiamono-light.ttf);
  font-family: "font1";
}
@font-face {
  src: url(../assets/fonts/adventure.otf);
  font-family: "font4";
}
/* --- DECORATION --- */
/* --- FONTS --- */
/* --- SHADOW--- */
/* --- BOX MODEL --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}

body {
  color: whitesmoke;
  font-size: 15px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(#128FC8, #00468B);
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "font1";
  font-size: 1.2rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.07rem 0.07rem darkslategrey;
  background-color: #128FC8;
  filter: drop-shadow(0.1rem 0.1rem 0.03rem darkslategrey);
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0.8rem 1.9rem;
  border-radius: 0.5rem;
  border-style: none;
}
@media (min-width: 576px) {
  .button {
    font-size: 1.2rem;
  }
}
@media (min-width: 767px) {
  .button {
    font-size: 1.4rem;
  }
}

.button:hover,
.button:focus {
  background-color: #FFBD33;
  color: darkslategrey;
  text-shadow: none;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: linear-gradient(#219EBC, #166d82);
  margin: 3rem 1rem;
  filter: drop-shadow(0.15rem 0.15rem 0.05rem darkslategrey);
  border: 0.1rem solid rgba(196, 232, 254, 0.8);
}
@media (min-width: 1278px) {
  .contact__form {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }
}
@media (min-width: 1600px) {
  .contact__form {
    width: 70%;
  }
}
.contact__form .side--A {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 1278px) {
  .contact__form .side--A {
    width: 35%;
    align-self: flex-start;
  }
}
@media (min-width: 1600px) {
  .contact__form .side--A {
    width: 30%;
  }
}
.contact__form .side--B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 1278px) {
  .contact__form .side--B {
    width: 45%;
    align-self: flex-start;
  }
}
@media (min-width: 1600px) {
  .contact__form .side--B {
    width: 50%;
  }
}
.contact__form .form__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 70vw;
  margin: 2rem;
}
@media (min-width: 576px) {
  .contact__form .form__detail {
    width: 50vw;
    margin: 2rem 2.5rem;
  }
}
@media (min-width: 1278px) {
  .contact__form .form__detail {
    width: 100%;
  }
}
.contact__form .form__detail .detail__cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 0.5rem;
}
.contact__form .form__detail .detail__cont .detail__icon {
  width: 1.4rem;
  height: auto;
  filter: drop-shadow(0.1rem 0.1rem 0.03rem darkslategrey);
  opacity: 0.7;
  fill: #C4E8FE;
}
@media (min-width: 760px) {
  .contact__form .form__detail .detail__cont .detail__icon {
    width: 1.8rem;
  }
}
.contact__form .form__detail .detail__cont .detail__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-family: "font1";
  font-size: 1.2rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.05rem 0.05rem darkslategrey;
  width: 15rem;
  margin: 1rem;
}
@media (min-width: 576px) {
  .contact__form .form__detail .detail__cont .detail__title {
    font-size: 1.2rem;
  }
}
@media (min-width: 767px) {
  .contact__form .form__detail .detail__cont .detail__title {
    font-size: 1.4rem;
  }
}
.contact__form .form__detail .input__text {
  font-family: "font1";
  font-size: 1rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.05rem 0.05rem darkslategrey;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px solid rgba(196, 232, 254, 0.8);
  border-radius: 0.2rem;
}
@media (min-width: 767px) {
  .contact__form .form__detail .input__text {
    font-size: 1.2rem;
  }
}
@media (min-width: 1278px) {
  .contact__form .form__detail .input__text {
    padding: 0.75rem;
  }
}
.contact__form .form__detail .input__text::-moz-placeholder {
  color: #C4E8FE;
  opacity: 0.5;
}
.contact__form .form__detail .input__text::placeholder {
  color: #C4E8FE;
  opacity: 0.5;
}
.contact__form .form__detail .input__textarea {
  font-family: "font1";
  font-size: 1rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.05rem 0.05rem darkslategrey;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px solid rgba(196, 232, 254, 0.8);
  border-radius: 0.2rem;
}
@media (min-width: 767px) {
  .contact__form .form__detail .input__textarea {
    font-size: 1.2rem;
  }
}
@media (min-width: 1278px) {
  .contact__form .form__detail .input__textarea {
    padding: 0.75rem;
  }
}
.contact__form .form__detail .input__textarea::-moz-placeholder {
  color: #C4E8FE;
  opacity: 0.5;
}
.contact__form .form__detail .input__textarea::placeholder {
  color: #C4E8FE;
  opacity: 0.5;
}
.contact__form .form__detail .checkbox__cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}
.contact__form .form__detail .checkbox__cont .checkbox__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "font1";
  font-size: 1.2rem;
  font-weight: 600;
  color: #C4E8FE;
  text-shadow: 0.05rem 0.05rem darkslategrey;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
@media (min-width: 576px) {
  .contact__form .form__detail .checkbox__cont .checkbox__label {
    font-size: 1.2rem;
  }
}
@media (min-width: 767px) {
  .contact__form .form__detail .checkbox__cont .checkbox__label {
    font-size: 1.4rem;
  }
}
.contact__form .form__detail .checkbox__cont .checkbox__label:hover {
  color: #FFBD33;
  cursor: pointer;
}
.contact__form .form__detail .checkbox__cont .checkbox__label .checkbox__input {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}

.ham {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#219EBC, #00468B);
  z-index: 100;
  position: fixed;
  z-index: 200;
}
.ham__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 5rem;
}
.ham__header .close__img {
  width: 1.4rem;
  margin: 0 1rem;
  fill: #C4E8FE;
  filter: drop-shadow(0.15rem 0.15rem 0.05rem darkslategrey);
}
@media (min-width: 576px) and (max-width: 1920px) {
  .ham__header .close__img {
    width: 2rem;
  }
}
@media (max-height: 575px) {
  .ham__header .close__img {
    width: 1.4rem;
  }
}
.ham__header .close__img:hover {
  cursor: pointer;
  color: #FFBD33;
  fill: #FFBD33;
}
.ham__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  height: calc(100vh - 10rem);
}
.ham__body .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-height: 577px) {
  .ham__body .links {
    font-size: 1.8rem;
    flex-direction: row;
  }
}
.ham__body .links__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "font4";
  font-size: 4rem;
  font-weight: 100;
  color: #C4E8FE;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  margin: 0.5rem;
}
@media (min-width: 576px) and (max-width: 1920px) {
  .ham__body .links__title {
    font-size: 5rem;
  }
}
@media (max-height: 575px) {
  .ham__body .links__title {
    font-size: 3rem;
    margin: 0.5rem 2rem;
  }
}
.ham__body .links__title:hover {
  cursor: pointer;
  color: #FFBD33;
  fill: #FFBD33;
}
.ham__body .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.ham__body .social__item {
  margin: 2rem;
}
.ham__body .social__item .social__img {
  width: 2rem;
  height: auto;
  opacity: 0.7;
  fill: #C4E8FE;
  filter: drop-shadow(0.1rem 0.1rem 0.03rem darkslategrey);
}
@media (min-width: 576px) and (max-width: 1920px) {
  .ham__body .social__item .social__img {
    width: 3rem;
  }
}
@media (max-height: 575px) {
  .ham__body .social__item .social__img {
    width: 3rem;
  }
}
.ham__body .social__item .social__img:hover {
  cursor: pointer;
  color: #FFBD33;
  fill: #FFBD33;
  opacity: 1;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

.clouds {
  width: 100%;
  position: absolute;
  animation-iteration-count: infinite;
  left: 80vw;
  animation-name: clouds;
  animation-timing-function: linear;
}
.clouds .cloud1 {
  position: absolute;
  top: 0;
  animation-duration: 10s;
  animation-delay: 0;
  width: 14rem;
  z-index: 100;
}
.clouds .cloud2 {
  position: absolute;
  top: 8rem;
  animation-duration: 8s;
  animation-delay: 5s;
  width: 17rem;
  z-index: 100;
}
.clouds .cloud3 {
  position: absolute;
  top: 5rem;
  animation-duration: 14s;
  animation-delay: 7s;
  width: 15rem;
  z-index: 110;
}
.clouds .cloud4 {
  position: absolute;
  top: 15rem;
  animation-duration: 17s;
  animation-delay: 10s;
  width: 14rem;
  z-index: 100;
}

@keyframes clouds {
  from {
    left: 50%;
  }
  to {
    left: -150%;
  }
}
.paperplane__img {
  width: 10rem;
  z-index: 100;
}
@media (min-width: 701px) {
  .paperplane__img {
    width: 12rem;
  }
}
@media (min-width: 1600px) {
  .paperplane__img {
    width: 15rem;
  }
}
@media (min-height: 1193px) {
  .paperplane__img {
    width: 15rem;
  }
}
@media (min-height: 1601px) {
  .paperplane__img {
    width: 18rem;
  }
}
@media (max-height: 577px) {
  .paperplane__img {
    margin: 2rem;
  }
}

.paperplane--fly {
  animation-iteration-count: infinite;
  position: relative;
  animation: paperplane 5s linear 0s infinite normal;
  z-index: 10;
}

@keyframes paperplane {
  0% {
    transform: translateY(0) rotateX(0) rotateZ(0deg);
  }
  25% {
    transform: translateY(-2rem) rotateX(35deg) rotateZ(-5deg);
  }
  50% {
    transform: rotateX(0) translateY(0) rotateZ(0deg);
  }
  75% {
    transform: rotateX(-30deg) translateY(2rem) rotateZ(5deg);
  }
  100% {
    transform: rotateX(0) translateY(0) rotateZ(0deg);
  }
}
.about {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: calc(100vh - 10rem);
}
@media (max-height: 1917px) {
  .about {
    height: auto;
  }
}
@media (min-width: 1915px) {
  .about {
    height: calc(100vh - 10rem);
  }
}
.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 5rem 0.5rem;
}
.about__info .info__title {
  font-family: "font4";
  font-size: 3rem;
  font-weight: 100;
  color: #C4E8FE;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  text-align: center;
}
@media (min-width: 760px) {
  .about__info .info__title {
    font-size: 4rem;
  }
}
.about__info .info__text {
  font-family: "font1";
  font-size: 1.4rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.07rem 0.07rem darkslategrey;
  margin: 1rem 0;
}
@media (min-width: 760px) {
  .about__info .info__text {
    font-size: 1.8rem;
  }
}
.about__info .color--yellow {
  color: #FFBD33;
}
.about__bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 1022px) {
  .about__bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
.about__bio .bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 3rem 2rem;
  text-align: center;
}
@media (min-width: 1022px) {
  .about__bio .bio {
    width: 20rem;
  }
}
@media (min-width: 1280px) {
  .about__bio .bio {
    width: 30rem;
  }
}
@media (min-width: 1600px) {
  .about__bio .bio {
    width: 35rem;
  }
}
.about__bio .bio__title {
  font-family: "font4";
  font-size: 3rem;
  font-weight: 100;
  color: #FFBD33;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  margin: 1rem 0 0.5rem 0;
}
@media (min-width: 760px) {
  .about__bio .bio__title {
    font-size: 4rem;
  }
}
.about__bio .bio__text {
  font-family: "font1";
  font-size: 1.4rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.07rem 0.07rem darkslategrey;
  margin: 0.5rem 0 1rem 0;
}
@media (min-width: 760px) {
  .about__bio .bio__text {
    font-size: 1.8rem;
  }
}
.about__bio .profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 3rem;
  align-self: center;
}
.about__bio .profile__img {
  width: 10rem;
  filter: drop-shadow(0.1rem 0.1rem 0.03rem darkslategrey);
}
@media (min-width: 760px) {
  .about__bio .profile__img {
    width: 15rem;
  }
}
.about__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 5rem 0.5rem 1rem 0.5rem;
}
@media (min-width: 1023px) {
  .about__skills {
    margin: 5rem;
  }
}
.about__skills .skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.about__skills .skills__title {
  font-family: "font4";
  font-size: 3rem;
  font-weight: 100;
  color: #C4E8FE;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}
@media (min-width: 760px) {
  .about__skills .skills__title {
    font-size: 4rem;
  }
}
.about__skills .skills .color--yellow {
  color: #FFBD33;
}
.about__skills .workin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}
@media (min-width: 760px) {
  .about__skills .workin {
    width: 50vw;
  }
}
.about__skills .workin__text {
  font-family: "font1";
  font-size: 1.4rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.05rem 0.05rem darkslategrey;
  width: 80vw;
  margin: 0.5rem 0 1rem 0;
}
@media (min-width: 760px) {
  .about__skills .workin__text {
    font-size: 1.8rem;
  }
}
.about__skills .elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}
.about__skills .elements__icon {
  width: 3rem;
  margin: 1rem;
  filter: drop-shadow(0.15rem 0.15rem 0.05rem darkslategrey);
}
@media (min-width: 760px) {
  .about__skills .elements__icon {
    width: 5rem;
    margin: 2rem;
  }
}

.contact {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: calc(100vh - 10rem);
}
@media (max-height: 1920px) {
  .contact {
    height: auto;
  }
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 5rem 0.5rem;
}
.contact__info .info__title {
  font-family: "font4";
  font-size: 3rem;
  font-weight: 100;
  color: #C4E8FE;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  text-align: center;
}
@media (min-width: 760px) {
  .contact__info .info__title {
    font-size: 4rem;
  }
}
.contact__info .info__text {
  font-family: "font1";
  font-size: 1.4rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.07rem 0.07rem darkslategrey;
  margin: 1rem 0;
  text-align: center;
}
@media (min-width: 760px) {
  .contact__info .info__text {
    font-size: 1.8rem;
  }
}
.contact__info .color--yellow {
  color: #FFBD33;
}
.contact__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 3rem;
}
.contact__social .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 2rem 1.5rem;
}
@media (min-width: 760px) {
  .contact__social .social {
    margin: 3rem;
  }
}
.contact__social .social:hover {
  color: #FFBD33;
  scale: 1.1;
  cursor: pointer;
  opacity: 1;
  filter: drop-shadow(0.15rem 0.15rem 0.05rem darkslategrey);
}
.contact__social .social:hover__img {
  height: auto;
  margin: 0.5rem;
  opacity: 0.7;
  fill: #FFBD33;
}
.contact__social .social:hover__text {
  font-family: "font1";
  font-size: 1rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.05rem 0.05rem darkslategrey;
  opacity: 0.7;
}
@media (min-width: 576px) {
  .contact__social .social:hover__text {
    font-size: 1.2rem;
  }
}
.contact__social .social__img {
  width: 2rem;
  height: auto;
  margin: 0.5rem;
  opacity: 0.7;
  fill: #C4E8FE;
  filter: drop-shadow(0.1rem 0.1rem 0.03rem darkslategrey);
}
@media (min-width: 576px) {
  .contact__social .social__img {
    width: 2rem;
  }
}
@media (min-width: 767px) {
  .contact__social .social__img {
    width: 3rem;
  }
}
.contact__social .social__text {
  font-family: "font1";
  font-size: 1rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.05rem 0.05rem darkslategrey;
  opacity: 0.7;
}
@media (min-width: 576px) {
  .contact__social .social__text {
    font-size: 1.2rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 5rem;
  font-family: "font1";
  font-size: 0.7rem;
  font-weight: 100;
  color: #C4E8FE;
  text-shadow: 0.1rem 0.15rem darkslategrey;
}
@media (min-width: 576px) and (max-width: 1920px) {
  .footer__text {
    font-size: 1rem;
  }
}
@media (max-height: 575px) {
  .footer__text {
    font-size: 0.7rem;
  }
}

.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 5rem;
}
.header__title {
  font-family: "font4";
  font-size: 1.8rem;
  font-weight: 100;
  color: #FFBD33;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  margin-left: 1rem;
  cursor: pointer;
}
@media (min-width: 576px) and (max-width: 1920px) {
  .header__title {
    font-size: 3rem;
  }
}
@media (min-width: 1917px) {
  .header__title {
    font-size: 4rem;
  }
}
@media (max-height: 575px) {
  .header__title {
    font-size: 1.8rem;
  }
}
.header__menu {
  display: none;
}
@media (min-width: 992px) {
  .header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media (min-height: 1023px) {
  .header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.header__menu .menu__link {
  font-family: "font4";
  font-size: 1.4rem;
  font-weight: 100;
  color: #C4E8FE;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  margin: 0 2rem;
}
@media (min-width: 1023px) and (max-width: 1917px) {
  .header__menu .menu__link {
    font-size: 1.8rem;
    margin: 0 3rem;
  }
}
@media (min-width: 1917px) {
  .header__menu .menu__link {
    margin: 0 5rem;
    font-size: 3rem;
  }
}
@media (min-height: 1439px) {
  .header__menu .menu__link {
    font-size: 1.8rem;
  }
}
.header__menu .menu__link:hover {
  cursor: pointer;
  color: #FFBD33;
  fill: #FFBD33;
}
.header__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__social .social {
  display: none;
}
@media (min-width: 1193px) {
  .header__social .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 15rem;
  }
}
.header__social .social .social__link__img {
  width: 2rem;
  height: auto;
  margin: 0 1rem;
  opacity: 0.7;
  fill: #C4E8FE;
  filter: drop-shadow(0.1rem 0.1rem 0.03rem darkslategrey);
}
.header__social .social .social__link__img:hover {
  cursor: pointer;
  color: #FFBD33;
  fill: #FFBD33;
  opacity: 1;
}
.header__social .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__social .nav__link {
  width: 1.4rem;
  fill: #C4E8FE;
  filter: drop-shadow(0.15rem 0.15rem 0.05rem darkslategrey);
}
@media (min-width: 576px) and (max-width: 1920px) {
  .header__social .nav__link {
    width: 2rem;
  }
}
@media (max-height: 575px) {
  .header__social .nav__link {
    width: 1.4rem;
  }
}
.header__social .nav__link:hover {
  cursor: pointer;
  color: #FFBD33;
  fill: #FFBD33;
}
.header__social .nav__link--hamicon {
  margin-right: 1rem;
}
@media (min-width: 992px) {
  .header__social .nav__link--hamicon {
    display: none;
  }
}
@media (min-height: 1023px) {
  .header__social .nav__link--hamicon {
    display: none;
  }
}
.header__social .nav__link--themeicon {
  margin-right: 1.5rem;
}

.main {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  height: calc(100vh - 10rem);
}
@media (max-height: 577px) {
  .main {
    height: auto;
  }
}
.main .main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 760px) and (max-width: 1199px) {
  .main .main__content {
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  .main .main__content {
    width: 50vw;
  }
}
@media (max-height: 577px) {
  .main .main__content {
    margin: 5rem;
  }
}
.main .main__content .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 1.4;
}
.main .main__content .content__title {
  font-family: "font4";
  font-size: 3rem;
  font-weight: 100;
  color: #C4E8FE;
  text-shadow: 0.1rem 0.15rem darkslategrey;
}
@media (min-width: 760px) {
  .main .main__content .content__title {
    font-size: 4rem;
  }
}
@media (min-width: 1917px) {
  .main .main__content .content__title {
    font-size: 5rem;
  }
}
.main .main__content .content__title:hover {
  cursor: pointer;
  color: #FFBD33;
  scale: 1.1;
}
.main .main__content .content__text {
  font-family: "font1";
  font-size: 1.2rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.07rem 0.07rem darkslategrey;
  margin: 0.3rem 1rem;
}
@media (min-width: 760px) {
  .main .main__content .content__text {
    font-size: 1.8rem;
  }
}
.main .main__content .content .color--yellow {
  color: #FFBD33;
}

.works {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: calc(100vh - 10rem);
}
@media (max-height: 1917px) {
  .works {
    height: auto;
  }
}
@media (min-width: 1915px) {
  .works {
    height: calc(100vh - 10rem);
  }
}
.works__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 5rem 0.5rem;
}
.works__info .info__title {
  font-family: "font4";
  font-size: 3rem;
  font-weight: 100;
  color: #C4E8FE;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  text-align: center;
}
@media (min-width: 760px) {
  .works__info .info__title {
    font-size: 4rem;
  }
}
.works__info .info__text {
  font-family: "font1";
  font-size: 1.4rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.07rem 0.07rem darkslategrey;
  margin: 1rem 0;
}
@media (min-width: 760px) {
  .works__info .info__text {
    font-size: 1.8rem;
  }
}
.works__info .color--yellow {
  color: #FFBD33;
}
.works__projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
@media (min-width: 1022px) {
  .works__projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}
.works__projects .projects {
  background: linear-gradient(#219EBC, #166d82);
  margin: 3rem 2rem;
  width: 18rem;
  filter: drop-shadow(0.2rem 0.2rem 0.07rem darkslategrey);
  border: 0.1rem solid rgba(196, 232, 254, 0.8);
}
@media (min-width: 576px) and (max-width: 1021px) {
  .works__projects .projects {
    width: 28rem;
  }
}
@media (min-width: 1022px) and (max-width: 1277px) {
  .works__projects .projects {
    width: 16rem;
  }
}
@media (min-width: 1278px) {
  .works__projects .projects {
    width: 20rem;
  }
}
@media (min-width: 1915px) {
  .works__projects .projects {
    width: 28rem;
  }
}
.works__projects .projects:hover {
  scale: 1.02;
}
.works__projects .projects__thumbnails {
  border-bottom: 0.2rem solid lightgrey;
  border-color: #C4E8FE;
}
.works__projects .projects__title {
  font-family: "font1";
  font-size: 1.4rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.07rem 0.07rem darkslategrey;
  margin: 2rem;
  text-align: center;
}
@media (min-width: 760px) {
  .works__projects .projects__title {
    font-size: 1.8rem;
  }
}
.works__projects .projects__text {
  font-family: "font1";
  font-size: 1rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 0.05rem 0.05rem darkslategrey;
  padding: 0.5rem 2rem 2rem 2rem;
}
@media (min-width: 760px) {
  .works__projects .projects__text {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=main.css.map */