@charset "UTF-8";
/*
Csak segédfunkciók és nem kimeneti kódrészletek.
(betűtípus-importálások, újrafelhasználható mixinek, globális változók, színek stb.)
*/
@font-face {
  src: url(../assets/fonts/lexiamono-light.ttf);
  font-family: "font1";
}
@font-face {
  src: url(../assets/fonts/adlery-pro.ttf);
  font-family: "font2";
}
/*
Tartalma a globális stílusok és a reset.
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}

body {
  color: whitesmoke;
  font-size: 15px;
  line-height: 1.2;
  text-shadow: 0.05rem 0.05rem darkslategrey;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(#128FC8, #00468B);
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
Tartalmazza az újrafelhasználható komponenseket.
A komponensek csak egyetlen dolgot csinálnak és újrafelhasználhatóak.

példa komponensek: alert, button, carousel, form, icon, input, label
*/
.button {
  background-color: green;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  outline: 2px solid #EF8C01;
}
.ham {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#219EBC, #00468B);
}
.ham .ham-close-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 10vh;
}
.ham .ham-close-cont .close-img {
  width: 1.4rem;
  margin: 1rem;
}
.ham .ham-links-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 90vh;
}
.ham .ham-links-cont .ham-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.ham .ham-links-cont .ham-links .links-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.ham .ham-links-cont .ham-links .links-cont .links-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "font1";
  font-size: 1.4rem;
  color: whitesmoke;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  margin: 1rem;
}
.ham .ham-links-cont .ham-links .links-cont .links-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "font2";
  font-size: 6rem;
  color: #C4E8FE;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  font-weight: 100;
  height: 6.5rem;
}
.ham .ham-links-cont .ham-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.ham .ham-links-cont .ham-social .social-cont {
  margin: 3rem;
}
.ham .ham-links-cont .ham-social .social-cont .social-img {
  width: 3rem;
  height: auto;
}

.fix {
  position: fixed;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

/*
Tartalma az összetevők és alapstílusok egyedi kombinációi.

példa layoutok: header, footer, nav, main, sidebar
*/
.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 10vh;
}
.header .header-name-cont .name-title {
  font-family: "font2";
  font-size: 3rem;
  color: #FFBD33;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  font-weight: 100;
  margin: 1rem;
}
.header .header-nav-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header .header-nav-cont .nav-icon {
  width: 1.4rem;
  margin: 1rem;
}

.main {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 90vh;
}
.main .main-paperplane-cont .paperplane-img {
  width: 10rem;
  height: auto;
  margin: 3rem;
}
.main .main-content-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.main .main-content-cont .main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}
.main .main-content-cont .main-content .content-title {
  font-family: "font2";
  font-size: 4rem;
  color: #C4E8FE;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  font-weight: 100;
}
.main .main-content-cont .main-content .content-text {
  font-family: "font1";
  font-size: 1.2rem;
  color: whitesmoke;
  text-shadow: 0.05rem 0.05rem darkslategrey;
  font-weight: 600;
  margin: 0.25rem 1rem 0.25rem 1rem;
}
.main .main-content-cont .main-content .yellow {
  color: #FFBD33;
}
.main .main-content-cont .row {
  flex-direction: column;
}

.works {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  outline: 2px solid orange;
}
.works .works-title {
  font-family: "font2";
  font-size: 4rem;
  color: #00468B;
  text-shadow: 0.1rem 0.15rem darkslategrey;
  outline: 2px solid #EF8C01;
}
.works .works-text {
  outline: 2px solid #EF8C01;
}
.works .works-projects {
  outline: 2px solid #EF8C01;
}

.contact {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  outline: 2px solid orange;
}
.contact .contact-title {
  outline: 2px solid #EF8C01;
}
.contact .contact-text {
  outline: 2px solid #EF8C01;
}
.contact .contact-links {
  outline: 2px solid #EF8C01;
}
.contact .contact-links .link-container {
  outline: 2px solid #EF8C01;
}

.about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  outline: 2px solid orange;
}
.about .about-title {
  outline: 2px solid #EF8C01;
}
.about .about-text {
  text-align: center;
  outline: 2px solid #EF8C01;
}
.about .about-profilpic {
  width: 10rem;
  outline: 2px solid #EF8C01;
}
.about .about-skills-title {
  outline: 2px solid #EF8C01;
}
.about .about-skills-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  outline: 2px solid #EF8C01;
}
.about .about-skills-icons .skills-icon {
  width: 4rem;
}/*# sourceMappingURL=main.css.map */